@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-metro: var(--font-metropolis);
  --font-work: var(--font-work-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
